[Unit]
Description=squash-tm
After=network.target

[Service]
WorkingDirectory=/opt/squash-tm/
User=admin
Group=users
Type=simple
UMask=000
ExecStart=/opt/squash-tm/bin/startup.sh
RestartSec=30
Restart=always

[Install]
WantedBy=multi-user.target
