[Unit]
Description=squash-tm
After=network.target

[Service]
WorkingDirectory=/home/yunohost.app/squash-tm/
User=squash-tm
Group=users
Type=simple
UMask=000
ExecStart=/home/yunohost.app/squash-tm/bin/startup.sh
RestartSec=60
Restart=always

[Install]
WantedBy=multi-user.target
